pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist
google*.html
stock-paid/
firebase.json
.firebaserc
.firebase
.firebase/*
.firebase/hosting*
.well-known/assetlinks.json
