/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.custom-block
  border-radius 6px
  box-shadow 0 2px 7px rgba(0,0,0,.2)

.campagna-scuola-class .feature
  box-shadow 0 2px 7px rgba(0,0,0,.2)

  
html .campagna-scuola-class 
  background url(/20190063.jpg) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
