/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.custom-block
  border-radius 6px
  box-shadow 0 2px 7px rgba(0,0,0,.2)

  