/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.custom-block
  border-radius 6px
  box-shadow 0 2px 7px rgba(0,0,0,.2)

.campagna-scuola-class .feature
  box-shadow 0 2px 7px rgba(0,0,0,.2)

  
html .campagna-scuola-class 
  background url(/20190063.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.campagna-scuola-class main
  border-radius 50px
  background-color  rgba(255,255,255,.6)
  box-shadow 0 2px 7px rgba(0,0,0,.5)

.campagna-scuola-class-1 
  background url(/20472709.jpg) no-repeat top right fixed; 

.campagna-scuola-class-2 
  background url(/17792152.jpg) no-repeat top left fixed; 

@media (min-width: ($MQMobile + 1px))
  .content__default p img 
    margin-left: auto
    margin-right: auto
    width: 600px
